.signup-container {
    background: var(--page-background);
    display: grid;
    place-items: center;
    padding-block: 3rem;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.username {
    width: 320px;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid var(--border);
    font-family: "Comfortaa", sans-serif;
    background: transparent;
}

.submit {
    width: 320px;
    width: 320px;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    background: var( --color-orange);
    border: transparent;
    font-family: "Comfortaa", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

.already-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: x-small;
    left: 0;
}

.error {
    color: red;
    font-size: x-small;
}

.show-listing:hover {
    text-decoration: underline;
}

.listing-cover {
    height: 150px;
    width: 250px;
    border-radius: 5px;
    object-fit: contain;
}

.user-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px var(--border);
    padding-block: 1rem;
    border-radius: 5px;
    margin-block: 1rem;
    padding-right: 2rem;
}

.listing-name {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.listing-name:hover {
    text-decoration: underline;
}

.listing-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
}

.listing-delete {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}


.listing-edit {
    font-size: 1.5rem;
    color: green;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .signup-container {
        height: 100vh;
        padding-block: 0;
    }

    .form-container {
        margin-top: 0;
    }

    .listing-cover {
        height: 100px;
        width: 150px;
        border-radius: 5px;
        object-fit: contain;
    }

    .user-listing {
        display: flex;
        box-shadow: 0 0 5px var(--border);
        padding-block: 1rem;
        border-radius: 5px;
        margin-block: 1rem;
        padding-right: 2rem;
        width: 90%;
    }

    .listing-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-left: 2rem;
    }
    .listing-name {
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }
    
}