.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    position: sticky;
    top: 0;
    background: var(--main-color);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    color: var( --color-orange);
    font-family: var(--logo-font);
}

.nav-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-auth a {
    color: var(--white-color);
    font-size: small;
}

.avatar {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-links a {
    color: var(--white-color);
    font-size: small;
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    padding: 3px;
    background: transparent;
    border: 1px solid whitesmoke;
    color: var(--white-color);
    font-family: "Comfortaa", sans-serif;
}

.search::placeholder {
    font-family: "Comfortaa", sans-serif;;
}

.search:focus {
    font-family: "Comfortaa", sans-serif;
    outline: none;
    color: var(--white-color);
}

.sidebar {
    position: fixed;
    top: 3rem;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    transition: left 0.3s ease-in-out;
    z-index: 1001;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    color: var(--white-color);
    font-size: 1rem;
    margin: 1rem 0;
    text-decoration: none;
}

.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--white-color);
    cursor: pointer;
}

/* Dark Overlay */
.overlay {
    position: fixed;
    top: 3rem;
    right: 0;
    width: 41.5%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: opacity 2s ease-in-out;
}

.nav-mobile {
    color: var(--white-color);
    display: none;
}



@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-search {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .header-container {
        padding-inline: 1rem;
    }

    .search {
        margin-top: 2rem;
    }

    .nav-auth {
        display: flex;
        }

}