.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: var(--page-background);
  /* min-height: 100vh; */
  padding-inline: 2rem;
  position: relative;
}

.listing-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
  gap: 2rem;
  padding-top: 5rem;
}

.form-listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: inherit;
  gap: 1rem;
  flex-wrap: wrap;
}

.listing-image {
  display: flex;
  justify-content: center;
  height: inherit;
  gap: 1rem;
  flex-direction: column;
}

.input-field {
  max-width: 350px;
  padding: 15px;
  border-radius: 3px;
  outline: none;
  background: var(--white-color);
  border: none;
  font-family: "Comfortaa", sans-serif;
}

.input-field:focus {
  box-shadow: 0 0 5px var(--color-orange);
}

.input-fields {
  max-width: 70px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  background: var(--white-color);
  border: none;
  font-family: "Comfortaa", sans-serif;
  margin: 10px;
}

.input-label {
  margin: 10px;
}

label {
  font-size: smaller;
}

.checkboxes {
  display: flex;
  margin: 10px;
}

#sale,
#rent,
#parking {
  margin-right: 15px;
}

.caution-title {
  font-size: small;
  font-weight: bold;
}

.caution-text {
  font-size: small;
  margin-left: 10px;
}

.caution-container {
  display: flex;
}

.files {
  max-width: 350px;
  padding: 15px;
  border-radius: 3px;
  outline: none;
  background: var(--white-color);
  border: none;
  font-family: "Comfortaa", sans-serif;
}

input#file-upload-button {
  font-family: "Comfortaa", sans-serif;
}

.uploa {
  width: 100px;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid var(--color-green);
  outline: none;
  background: transparent;
  font-family: "Comfortaa", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.image-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-direction: column;
}

.listing-submit {
  padding: 15px;
  border-radius: 3px;
  border: transparent;
  outline: none;
  background: var(--main-color);
  font-family: "Comfortaa", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2rem;
  color: wheat;
  letter-spacing: 1;
}

.image-preview {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 10px;
  /* box-shadow: 0 0 5px var(--color-orange); */
}

.error-message {
  color: red;
  font-size: x-small;
  margin-top: 5px;
  text-align: center;
}

.svg-icon {
  color: red;
  cursor: pointer;
  position: absolute;
  right: auto;
}

@media only screen and (max-width: 768px) {
  .listing-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
    height: 100vh;
    /* padding-inline: 1rem; */
  }

  .listing-container {
    padding-block: 3rem;
  }

  .form-listing {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: inherit;
  }
  .input-field {
    max-width: 100%;
    padding: 25px;
    border-radius: 3px;
    outline: none;
    background: var(--white-color);
    border: none;
    font-family: "Comfortaa", sans-serif;
  }

  .input-label {
    margin: auto;
  }

  .checkboxes {
    margin: auto;
  }

  .caution-container {
    margin: auto;
  }

  .image-container {
    display: flex;
    gap: 1rem;
  }
}
