.search-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   gap: 2rem;
   background-color: var(--page-background);
   height: 100vh;
   padding-inline: 4rem;
   padding-top: 18rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
   
}

.left-side form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100%;
    margin-top: 10rem;
    padding-bottom: 2rem;
}

.look-for {
    padding: 10px 20px;
    outline: none;
    background: var(--white-color);
    border: transparent;
    border-radius: 3px;
    font-family: "Comfortaa", sans-serif;
    margin-left: 10px;
}

.look-for:focus {
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    transition: all 0.3s ease-in-out;
}

.search-term {
    border: 1px solid var(--border);
    border-radius: 3px;
    padding: 2rem 4rem;
}

.search-term label, .sea label {
    font-weight: bold;
}

.all-search {
    display: flex;
    align-items: center;
    gap: 2rem
}

.sea {
    display: flex;
}

.sea input {
    margin-left: 1rem;
}

.sea span {
    margin-left: .2rem;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center
}

.sort {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sort select {
    padding: 10px;
    outline: none;
    background: var(--white-color);
    border: transparent;
    border-radius: 3px;
    font-family: "Comfortaa", sans-serif;
}

.sort-button {
    background: var(--main-color);
    padding: 1rem;
    border: none;
    border-radius: 3px;
    color: var(--white-color);
    letter-spacing: 1px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.listings-response {
    text-align: center;
    font-weight: 700;
}

.listings-info {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-text {
    padding: 5px;
}