:root {
  --logo-font:  "Pacifico", cursive;
  --color-orange: "#d35400";
  --main-color: "#34495e";
  --white-color: "#fdfefe";
  --color-green: "#229954"
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Comfortaa", sans-serif;
}